form{
	table{
		box-shadow: none;
	}
	.field{
		display: block;
		position: relative;
		margin: 10px 0;
		width: 100%;
		height: 50px;
		overflow: hidden;
		border: 2px solid @sidebar-color;
		&.small{
			height: 30px;
			border: 2px solid @sidebar-color;
			max-width: 200px;
			label{
				width: 30px;
				font-size: 14px;
				line-height: 30px;
			}
			.styled-select{
				width: ~"calc(100% - 30px)";
				select{
					padding-left: 10px;
					font-size: 12px;
				}
				&::before{
					font-size: 14px;
					line-height: 30px;
					padding: 0 5px 0 5px;
				}
			}
			input[type=text],input[type=password]{
				display: inline-block;
				height: 100%;
				width: ~"calc(100% - 30px)";
				float: right;
				border-top: 0;
				font-family: 'LatoWeb', sans-serif;
				font-size: 12px;
				padding-left: 10px;
				border-left: 0;
				border-right: 0;
				color: @sidebar-color;
			}
		}
		label{
			display: inline-block;
			width: 50px;
			line-height: 50px;
			font-size: 24px;
			text-align: center;
			color: @font-color1;
			float: left;
			background-color: @sidebar-color;
			height: 100%;
			&.filefield{
				width: 100%;
				font-size: 14px;
				cursor: pointer;
				vertical-align: middle;
			}
		}
		input[type=text],input[type=password]{
			display: inline-block;
			height: 100%;
			width: ~"calc(100% - 50px)";
			float: right;
			border-top: 0;
			font-family: 'LatoWeb', sans-serif;
			font-size: 14px;
			padding-left: 20px;
			border-left: 0;
			border-right: 0;
			color: @sidebar-color;
		}
		input[type=file]{
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}
		.helper{
			display: inline-block;
			position: absolute;
			left: 0;
			line-height: 50px;
			font-family: 'LatoWebSemibold', sans-serif;
			font-size: 14px;
			text-decoration: none;
			text-transform: capitalize;
			color: @sidebar-color;
		}
		textarea{
			display: inline-block;
			height: 100%;
			width: ~"calc(100% - 50px)";
			float: right;
			border-top: 0;
			font-family: 'LatoWeb', sans-serif;
			font-size: 14px;
			padding: 10px 0px 10px 20px;
			border-left: 0;
			border-right: 0;
			resize: none;
			color: @sidebar-color;
		}
		.styled-select{
			display: inline-block;
			height: 100%;
			width: ~"calc(100% - 50px)";
			overflow: hidden;
			float: right;
			select{
				color: @sidebar-color;
				display: block;
				height: 100%;
				width: ~"calc(100% + 50px)";
				border-top: 0;
				font-family: 'LatoWeb', sans-serif;
				font-size: 14px;
				padding-left: 20px;
				border-left: 0;
				border-right: 0;
				-webkit-appearance: none;
			}
			&::before{
				display: block;
				position: absolute;
				content: '\f104';
				font-family: Ionicons;
				font-size: 20px;
				line-height: 50px;
				color: @font-color1;
				background-color: @sidebar-color;
				padding: 0 10px 0px 10px;
				right: 0;
				top: 0;
			}
		}
		button{
			display: inline-block;
			padding: 10px 20px;
			background-color: @sidebar-color;
			color: @font-color1;
			font-family: 'LatoWebSemibold', sans-serif;
			font-size: 14px;
			border: 0;
			text-transform: uppercase;
			cursor: pointer;
			transition: all 0.4s;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
			&:hover,
			&:focus,
			&:active{
				background-color: mix(rgba(255, 255, 255, 0), @sidebar-color,20%);
			}
		}
		&.field-inline{
			border: 0;
			.input-left{
				width: 65%;
				height: 100%;
				float: left;
				border: 2px solid @sidebar-color;
				&.withcheckbox{
					width: ~"calc( 100% - 50px )";
				}
			}
			.input-right{
				width: 30%;
				height: 100%;
				float: right;
				border: 2px solid @sidebar-color;
				position: relative;
				input[type=text]{
					float: left;
					text-align: center;
					padding: 0;
				}
				input[type=checkbox]{
					height: 50px;
					width: 50px;
					opacity: 0;
					text-align: center;
					padding: 0;
				}
				input[type=checkbox] + label{
					position: absolute;
					top: 0;
					left: 0;
					background-color: rgba(255, 255, 255, 1);
					&:before{
						color: mix(@sidebar-color,#fff,40%);
						font-family: 'Ionicons';
						font-size: 25px;
						position: absolute;
						content: '\f372';
						transition: all 0.2s;
						cursor: pointer;
					}
				}
				input[type=checkbox]:checked + label{
					&:before{
						color: @sidebar-color;
						content: '\f373';
						font-family: 'Ionicons';
						font-size: 25px;
						position: absolute;
						transition: all 0.2s;
						cursor: pointer;
					}
				}
				label{
					float: right;
				}
				&.checkbox{
					border: 0;
					width: 50px;
				}
			}
		}
		&.noborder{
			border: 0;
		}
		&.left{
			text-align: left;
		}
		&.center{
			text-align: center;
		}
		&.right{
			text-align: right;
		}
		&.error{
			margin: 0;
			height: 20px;
			font-family: 'LatoWeb', sans-serif;
			font-size: 12px;
			color: @error-color;
			text-align: center;
			text-transform: uppercase;
		}
		&.textarea{
			height: 100px;
		}
	}
}
