table{
	display: table;
	background-color: white;
	width: 100%;
	.boxShadow();
	font-family: 'LatoWebBold', sans-serif;
	font-size: 12px;
	border-radius: 0px;
	border-collapse: collapse;
	.fit{
		width: 1%;
		white-space: nowrap;
	}
	thead{
		display: table-header-group;
		border-bottom: 2px solid mix(rgba(255, 255, 255, 1), @sidebar-color, 50%);
		tr{
			display: table-row;
			width: 100%;
			td{
				.td();
				color: @sidebar-color;
				font-weight: bold;
				text-transform: uppercase;
				cursor: pointer;
				&.center{
					text-align: center;
				}
				white-space: nowrap;
			}
			&.withtablefilter{
				td{
					padding: 0;
				}
				.tablefilter{
					table-layout: fixed;
					width: 100%;
					td{
						width: 100%;
						padding: 0 20px 0 20px;
						&.filter{
							width: 250px;
						}
						&.filter-btn{
							width: 100px;
							text-align: center;
						}
					}
				}
			}
			&.tabletitle{
				td{
					padding-top: 20px;
				    font-size: 18px;
				}
			}
		}
	}
	tbody{
		font-family: 'LatoWeb', sans-serif;
		font-size: 12px;
		width: 100%;
		display: table-row-group;
		tr{
			width: 100%;
			display: table-row;
			border-bottom: 1px solid mix(rgba(255, 255, 255, 1), @sidebar-color, 80%);
			td{
				.td();
				text-transform: capitalize;
				&.center{
					text-align: center;
				}
			}
		}
		tr:last-of-type{
			border-bottom: 0px;
		}
	}
	tfoot{
		display: table-footer-group;
		border-top : 2px solid mix(rgba(255, 255, 255, 1), @sidebar-color, 50%);
		padding: 10px;
		tr{
			td{
				padding: 10px;
				ul{
					display: inline-block;
					float: left;
					user-select: none;
					li{
						display: inline-block;
						a{
							display: inline-block;
							text-align: center;
							cursor: pointer;
							user-select: none;
							line-height: 30px;
							width: 30px;
							text-decoration: none;
							color: @font-color1;
							font-family: 'LatoWebLight', sans-serif;
							background-color: @sidebar-color;
							transition: all 0.4s;
							&:hover{
								background-color: mix(rgba(255, 255, 255, 0), @sidebar-color,20%);						
							}
						}
						&.active,&.disabled{
							background-color: mix(rgba(255, 255, 255, 0), @sidebar-color,50%);
							span{
								display: inline-block;
								text-align: center;
								cursor: default;
								user-select: none;
								line-height: 30px;
								width: 30px;
								text-decoration: none;
								color: @font-color1;
								font-family: 'LatoWebLight', sans-serif;
							}
						}
					}
				}
			}
		}
	}
	&.seminar{
		&>tbody{
			td{
				padding: 30px 5px 5px 5px;
				vertical-align: baseline;
				height: 100%;
				border: 1px solid mix(rgba(255, 255, 255, 1), @sidebar-color, 80%);
				position: relative;
				user-select:none;
				cursor: default;
				&:not(.caption):hover{
	//				background-color: mix(rgba(255, 255, 255, 1), @sidebar-color, 80%);
					transition: all 0.2s;
					cursor: default;
					user-select:none;
				}
				&.caption{
					font-weight: bold;
				}
				.mark{
					top: 5px;
					left: 5px;
					display: block;
					position: absolute;
					font-size: 18px;
					color: @sidebar-color;
					text-align: center;
				}
				.button{
					margin-top: 5px;
				}
			}
		}
	}
}