*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	width: 21cm;
//	border: 1px solid black;
	padding: 0 2cm 1.5cm 2cm;
	position: relative;
}
p{
	line-height: 1.40em;
}
.pages{
	font-family: Arial;
	font-size: 11pt;
	margin-top: 1.25cm; 
	position: relative;
	display: block;
	height: 26.7cm;
	width: 17cm;
	page-break-inside: avoid;
	page-break-after: always;
}
.kop-surat{
	line-height: 10pt;
	text-align: center;
	width: 100%;
}
.kop-surat tr:last-child td{
    border-top: 1px solid black;
    border-bottom: 3px outset black;
    height: 6px;
}
.logo-unsoed{
	height: 2cm;
	width: 2cm;
	margin: 0 0 0 .1cm;
}
.uppercase{
	text-transform: uppercase;
}
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
.serif{
	font-family: 'Times New Roman', serif;
}
.sans{
	font-family: 'Arial', sans-serif;
}
.size7{
	font-size: 7pt;
}
.size10{
	font-size: 10pt;
}
.size11{
	font-size: 11pt;
}
.size12{
	font-size: 12pt;
}
.size14{
	font-size: 12pt;
}
.newpar{
	margin-top: 0.5cm;
}
.center{
	text-align: center;
}
.justify{
	text-align: justify;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.table-inside{
	margin-left: 0.5cm;
}
.table-inside tr td:first-child{
	padding-right: 0.1cm;
}
.ttd{
	display: block;
	position: absolute;
	bottom: 2cm;
	right: .5cm;
}
.ttd-area{
	padding-top: 2cm;
}
.tembusan{
	display: block;
	position: absolute;
	bottom: 1cm;
	font-size: 10pt;
}
.break{
	white-space: break-word;
}
.nobreak{
	white-space: nowrap;
}
table.full{
	width: 100%;
}
table.full tr td{
	line-height: 1.5em;
	padding-right: 0.2em;
	padding-left: 0.2em;
}
.v-top{
	vertical-align: top;
}
table.ttd-revisi{
	width: 100%;
}
table.ttd-revisi tr td{
	width: 50%;
	line-height: 1.5em;
	text-align: left;
	padding-left: 0.5cm;
}
table.ttd-revisi tr.ttd-area td{
	line-height: 3em;
}
table.berkas{
	width: 100%;
}
table.berkas tr td{
	padding: 0.5em;
	line-height: 1.5em;
}
table.berkas tr td:first-child{
	text-align: center;
	width: 1cm;
	font-weight: bold;
}
table.berkas tr.header td{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
table.berkas tr.header td.check{
	width: 2.5cm;
}
