@page{
	margin: 0;
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	width: 21cm;
//	border: 1px solid black;
	padding: 0 2cm 1.5cm 2cm;
	position: relative;
}
p{
	line-height: 1.5em;
}
p ~ table{
	margin-left: 1cm;
}
p ~ table tr td:first-child{
	white-space: nowrap;
	vertical-align: baseline;
}
.pages{
	font-family: Arial;
	font-size: 10pt;
	margin-top: 1.5cm; 
	position: relative;
	display: block;
	height: 26.7cm;
	width: 17cm;
	page-break-inside: avoid;
	page-break-after: always;
}
.kop-surat{
	line-height: 10pt;
	text-align: center;
	width: 100%;
}
.kop-surat tr:last-child td{
    border-top: 1px solid black;
    border-bottom: 3px outset black;
    height: 6px;
}
.logo-unsoed{
	height: 2cm;
	width: 2cm;
	margin: 0 0 0 .1cm;
}
.uppercase{
	text-transform: uppercase;
}
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
.serif{
	font-family: 'Times New Roman', serif;
}
.sans{
	font-family: 'Arial', sans-serif;
}
.size7{
	font-size: 7pt;
}
.size10{
	font-size: 10pt;
}
.size11{
	font-size: 11pt;
}
.size12{
	font-size: 12pt;
}
.size14{
	font-size: 12pt;
}
.newpar{
	margin-top: 0.5cm;
}
.center{
	text-align: center;
}
.justify{
	text-align: justify;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.table-inside{
	margin-left: 0.5cm;
}
.table-inside tr td:first-child{
	padding-right: 0.1cm;
}
.ttd{
	display: block;
	position: absolute;
	bottom: 2cm;
	right: .5cm;
}
.ttd-area{
	padding-top: 2cm;
}
.tembusan{
	display: block;
	position: absolute;
	bottom: 1cm;
	font-size: 10pt;
}
table.checkbox tr td{
	line-height: 0.7cm
}
table.checkbox tr td:first-child{
	border: 1px solid black;
	width: 0.7cm;
}
table.checkbox tr td:nth-child(2){
	padding-left: 0.5cm;
	padding-right: 0.5cm;
}
table.dots{
	width: 100%;
}
table.dots tr td{
	line-height: 2em;
	width: 100%;
	border-bottom: 1px dotted black;
}
table.ttd-berita-acara{
	line-height: 1.5em;
	width: 100%;
}
table.ttd-berita-acara tr td{
	margin: 0;
	padding: 0;
}
table.ttd-berita-acara tr td:first-child{
}
table.ttd-berita-acara tr td.ttd-area{
}
table.mhs-daftarhadir td{
	line-height: 1.5em;
}
table.mhs-daftarhadir td:first-child{
	padding-right: 1cm;
}
table.daftarhadir{
	width: 100%;
}
table.daftarhadir tr td{
	line-height: 2em;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}
table.daftarhadir tr td:first-child{
	width: 1.5cm;
}
table.daftarhadir tr td:nth-child(2){
	width: 4cm;
}
table.daftarhadir tr td:nth-child(3){
	width: 7cm;
}
table.penilaian{
	width: 100%;
}
table.penilaian tr:first-child td{
	text-align: center;
	font-weight: bold;
}
table.penilaian tr td{
	line-height: 1.5em;
	vertical-align: middle;
	padding: 0 5px;
}
table.penilaian tr td:first-child{
	width: 1cm;
	text-align: center;
}
table.penilaian tr td:nth-child(2){
	width: 13cm;
}
table.penilaian tr.total td:nth-child(2){
	padding-left: 1cm;
	line-height: 30px;
	text-decoration: underline;
}
table.keterangan-nilai{
	width: 100%;
}
table.keterangan-nilai tr td{
	padding: 5px;
	font-weight: bold;
}
.v-top{
	vertical-align: top;
}
table.mhs-undangan tr td{
	text-align: justify;
	vertical-align: top;
}
table.mhs-undangan tr td:first-child{
	white-space: nowrap;
	padding-right: 1cm;
	line-height: 1.5em;
}
.colon{
	vertical-align: baseline;
}