*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	height: 29.7cm;
	width: 21cm;
	/*border: 1px solid black;*/
	padding: 1.5cm 2cm 1.5cm 2cm;
	position: relative;
}
#kop-surat{
	line-height: 10pt;
	text-align: center;
	width: 100%;
	border-bottom: 3px double black;
}
#logo-unsoed{
	height: 3cm;
	width: 3cm;
	margin: 0 0 0 .1cm;
}
#isi-surat{
	font-family: 'Arial', sans-serif;
	font-size: 11pt;
}
#nomor-surat{
	width: 100%;
}
#nomor-surat tr td{
	vertical-align: baseline;
}
.uppercase{
	text-transform: uppercase;
}
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
.serif{
	font-family: 'Times New Roman', serif;
}
.sans{
	font-family: 'Arial', sans-serif;
}
.size10{
	font-size: 10pt;
}
.size11{
	font-size: 11pt;
}
.size12{
	font-size: 12pt;
}
.newpar{
	margin-top: 0.5cm;
}
.center{
	text-align: center;
}
.justify{
	text-align: justify;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
#table-mhs{
	width: 100%;
}
#table-mhs tr td{
	padding: 5px 10px 5px 10px;
	font-size: 10pt;
}
.fit{
	width: 1%;
}
.ttd{
	display: block;
	position: absolute;
	bottom: 3cm;
	right: 2cm;
}
.ttd tr td{
	font-family: 'Arial', sans-serif;
}
.ttd-area{
	padding-top: 2cm;
}
p{
	line-height: 1.5em;
}
.tembusan{
	display: block;
	position: absolute;
	bottom: 1cm;
	left: 2cm;
	font-size: 10pt;
}