@page{
	size :21cm 29.7cm;
	size :potrait;
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	width: 21cm;
//	border: 1px solid black;
	padding: 0 2cm 1.5cm 2cm;
	position: relative;
}
.pages{
	margin-top: 1.5cm; 
	position: relative;
	display: block;
	height: 26.7cm;
	width: 17cm;
	page-break-inside: avoid;
	page-break-after: always;
}
#logo-unsoed{
	height: 2cm;
	width: 2cm;
	margin: 0 0 0 .1cm;
}
.font{
	font-family: 'Times New Roman','serif';
}
.size14{
	font-size: 14pt;
}
.size12{
	font-size: 12pt;
}
.size11{
	font-size: 11pt;
}
.uppercase{
	text-transform: uppercase;
}
.kop-surat{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.2cm
}
.kop-surat tr:last-child td{
    border-top: 1px solid black;
    border-bottom: 3px outset black;
    height: 6px;
}
.bold{
	font-weight: bold;
}
p{
	width: 100%;
}
p ~ table{
	margin-left: 1cm;
}
p ~ table tr td:first-child{
	padding-right: 1cm;
	white-space: nowrap;
}
td{
	vertical-align: text-top;
	text-align: justify;
}
td.logo{
	vertical-align: middle;
}
td.colon{
	padding: 0 0.2cm 0 0.2cm;
}
.center{
	text-align: center;
}
.ttd{
	display: block;
	position: absolute;
	bottom: 1.75cm;
	right: .5cm;
}
.ttd-area{
	padding-top: 2cm;
}
.left{
	text-align: left;
}
.newpar{
	margin-top: 0.2cm;
}
div *{
	line-height: 1.5em;
}
table.kendali{
	width: 100%;
}
table.kendali tr td{
	padding: 10px 5px;
	text-align: center;
	vertical-align: middle;
}
table.kendali tr td:first-child{
	padding: 10px;
	width: 1.5cm;
}
table.kendali tr td.two-line{
	white-space: break-word;
	width: 2.5cm;
}
table.kendali tr.kendali-isi td{
	height: 10cm;
}
table.kendali tr.kendali-isi-max td{
	height: 19cm;
}
.tembusan{
	display: block;
	position: absolute;
	bottom: 1cm;
	font-size: 10pt;
}
.nomargin-left{
	margin-left: 0;
}