@import (less) "form-input.less";
@import (less) "table.less";
@import (less) "../css/ionicons.css";
@import (less) "../css/latofonts.css";
@import (less) "../css/latostyle.css";
@sidebar-color: rgba(0,129,216,1);
@warning-color: rgba(255,144,10,1);
@error-color: rgba(255, 0, 0, 1);
@sidebar-secondary-color: rgba(27,33,42,1);
@sidebar-accent-color: rgba(50,113,182,1);
@font-color1: rgba(250,250,250,1);
@font-color2: rgba(238,238,238,1);
@font-color3: rgba(32,32,32,1);
@border-color1: rgba(193,193,193,0.4);
.boxShadow(){
    box-shadow: 0px 0px 5px @border-color1;
}
.scale (@factor) {
	-webkit-transform: scale(@factor);
	-moz-transform: 	 scale(@factor);
	-ms-transform: 		 scale(@factor);
	-o-transform: 		 scale(@factor);
}
.td(){
	width: auto;
	display: table-cell;
	padding: 5px 10px;
	text-transform: uppercase;
	color: @font-color3;
	text-align: left;
	line-height: 30px;
	span{
		display: block;
		width: 100%;
		font-size: 10px;
		&.big{
			font-size: 20px;
		}
		&.bold{
			font-size: 12px;
			font-weight: bold;
		}
	}
	&.caption{
		color: @sidebar-color;
	}
	&>.button:only-child{
		display: inline;
	}
	&:first-child{
		padding-left: 20px;
	}
	&:last-child{
		padding-right: 20px;
	}
	&.small{
		line-height: 150%;
	}
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,body{
	height: 100%;
	width: 100%;
	overflow: auto;
}
.kp-sidebar{
	display: block;
	position: absolute;
	width: 250px;
	height: 100%;
	background-color: @sidebar-color;
	overflow: hidden;
	min-height: 600px;
	text-decoration: none;
	z-index: 1;
	transition: 0.5s all;
	.sidebar-logo{
		display: block;
		position: relative;
		height: 70px;
		background-color: mix(rgba(0, 0, 0, 1), @sidebar-color, 10%);
		border-bottom: 2px solid mix(rgba(255,255,255,1), @sidebar-color, 50%);
		padding:10px 5px;
		.image{
			position: relative;
			display: inline-block;
			height: 100%;
			padding-right: 10px;
			margin-right: 10px;
			float: left;
		}
		.text{
			display: inline-block;
			position: relative;
			font-family: 'LatoWebLight', sans-serif;
			text-transform: uppercase;
			color: rgba(255,255,255,1);
			font-size: 18px;
			line-height: 40px;
			vertical-align: bottom;
			width: ~"calc(100% - 80px)";
			span{
				display: block;
				position: absolute;
				height: 10px;
				font-size: 8px;
				font-family: 'LatoWebSemiBold', sans-serif;
				bottom: 0;
				line-height: 10px;
				font-weight: 700;
			}
		}
	}
}
.sidebar-content{
	display: block;
	line-height: 40px;
	font-family: 'LatoWebLight', sans-serif;
	height: ~"calc(100% - 70px)";
	overflow: auto;
	li{
		display: block;
		padding:0 0 0 10px;
	}
	.group-name{
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
		color: @font-color1;
		letter-spacing: 1px;
	}
	.items{
		width: 100%;
		padding-left: 20px;
		cursor: pointer;
		transition:all .2s;
		a{
			display: block;
			color :@font-color2;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 12px;
			text-decoration: none;
			width: 100%;
			line-height: 50px;
		}
	}
	.items.active{
		background-color: mix(rgba(255, 255, 255, 1), @sidebar-color, 20%);
	}
	.items:hover, .items:active{
		background-color: mix(rgba(255, 255, 255, 1), @sidebar-color, 20%);
	}
	.different{
		height: 0px;
		border-bottom: 1px solid @border-color1;
		margin: 5px 10px;
	}
}
.bar{
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	min-height: 600px;
	background-color: rgba(245,245,245,1);
	z-index: 0;
	.container{
		display: block;
		padding-left: 250px;
		height: 100%;
		transition: 0.5s all;
		.account{
			display: block;
			position: absolute;
			top: 0;
			right: 30px;
			padding: 10px 10px;
			width:auto;
			background-color: @sidebar-color;
			.name{
				display: inline-block;
				float: right;
				font-family: 'LatoWebSemiBold', sans-serif;
				color: @font-color1;
				font-size: 14px;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
		.info{
			display: flex;
			align-items: center;
			height: 100px;
			background-color: white;
			padding-left: 40px;
			.main{
				display: block;
				position: relative;
				height: 50px;
				width: 100%;
				font-family: 'LatoWebSemiBold',sans-serif;
				font-size: 30px;
				text-transform: uppercase;
				color: rgba(100,100,100,1);
				.secondary{
					display: block;
					position: absolute;
					font-size: 14px;
					bottom: 0px;
					font-weight: bold;
				}
			}
		}
		.menu{
			display: block;
			background-color: white;
			padding-left: 30px;
			overflow: hidden;
			li{
				display: inline-block;
				float: left;
				text-transform: uppercase;
				cursor: pointer;
				a{
					display: inline-block;
					line-height: 30px;
					font-family: 'LatoWebSemiBold', sans-serif;
					font-weight: bold;
					font-size: 12px;
					padding:0 20px;
					text-decoration: none;
					color: @sidebar-color;
					transition:all 0.2s;
					&.active, &:hover, &:active{
						background-color: @sidebar-color;
						color: white;
					}
				}
			}
		}
		.content{
			padding: 30px 30px;
			height: ~"calc(100% - (100px))";
		}
	}
}
.content{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
	height: 100%;
	background-color: rgba(245,245,245,1);
	overflow-y: auto;
	overflow-x: hidden;
&.withmenu{
	height: ~"calc(100% - (100px + 30px))" !important;
}
&.tableinside{
	align-items: baseline !important;
}
}
.panel{
	display: block;
	height: auto;
	width: auto;
	.boxShadow();
	padding: 50px 50px 0 50px;
	margin: auto;
	background-color: #fff;
	position: relative;
	.tag{
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		text-align: center;
		.tag-content{
			display: inline-block;
			margin: 0 auto;
			padding: 10px 20px;
			background-color: @sidebar-color;
			font-family: 'LatoWebSemiBold', sans-serif;
			font-size: 14px;
			color: @font-color2;
			text-transform: uppercase;
		}
	}
	.header{
		display: block;
		line-height: 50px;
		font-size: 12px;
		font-family: 'Roboto Light',Halvetica,sans-serif;
		color: @font-color3;
		border-bottom: 1px solid @border-color1;
		letter-spacing: 1px;
		text-transform: capitalize;
	}
	.main{
		display: block;
		padding: 20px 0;
	}
	.footer{
		display: block;
		height: 40px;
	}
}
// Special

.login-header{
	display: flex !important;
	align-items: center;
	justify-content: center;
	height: auto;
	width: 400px;
	font-size: 40px;
	font-family: 'LatoWebLight',sans-serif;
	color: @font-color3;
	letter-spacing: 1px;
	.text{
		
		text-align: center;
		.secondary{
			font-size: 12px;
			text-transform: uppercase;
			font-weight: bold;
			font-family: 'LatoWebSemiBold', sans-serif;
		}
	}
}
.icon{
	margin-right: 5px;
}
.form{
		width: 500px !important;
}
.list{
	display: flex;
	position: relative;
	margin: 10px 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	label{
		display: inline-block;
		height: 50px;
		width: 50px;
		line-height: 50px;
		background-color: @sidebar-color;
		border-radius: 50%;
		color: @font-color1;
		text-align: center;
		font-size: 20px;
	}
	.item{
		display: inline-block;
		height: auto;
		width: ~"calc(100% - 50px)";
		position: relative;
		padding: 0 0 0 20px;
		.title{
			display: block;
			width: 100%;
			color: @sidebar-color;
			padding: 0;
		}
		.desc{
			display: block;
			width: 100%;
			padding: 0;
			color: @font-color3;
			font-family: 'LatoWeb', sans-serif;
			font-size: 14px;
			text-align: justify;
		}
	}
}
.kp-status{
	width: 100%;
	height: auto;
	padding: 10px 20px 10px 20px;
	color: @font-color1;
	background-color: @warning-color;
	.title{
		display: block;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		padding: 0;
	}
	.desc{
		text-align: justify;
		font-size: 14px;
		background-color: @warning-color;
		padding: 0;
	}
}
.field{
	display: block;
	width: 100%;
	height: auto;
	margin-top: 20px;
	text-align: center;
}
.noborder{
	border: 0;
}
.error{
	margin: 0;
	height: 20px;
	font-family: 'LatoWeb', sans-serif;
	font-size: 12px;
	color: @error-color;
	text-align: center;
	text-transform: uppercase;
}
.button{
	display: inline-block;
	padding: 10px 20px;
	background-color: @sidebar-color;
	color: @font-color1;
	font-family: 'LatoWebSemibold', sans-serif;
	font-size: 14px;
	border: 0;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.4s;
	text-decoration: none;
	width: auto;
	white-space: nowrap;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	&:hover,
	&:focus,
	&:active{
		background-color: mix(rgba(255, 255, 255, 0), @sidebar-color,20%);
	}
	&.small{
		font-size: 10px;
		padding: 10px 10px;
		line-height: 10px;
		.icon{
			margin-right: 5px;
		}
	}
	span{
		display: inline;
	}
}
.tag{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	text-align: center;
	.tag-content{
		display: inline-block;
		margin: 0 auto;
		padding: 10px 20px;
		background-color: @sidebar-color;
		font-family: 'LatoWebSemiBold', sans-serif;
		font-size: 14px;
		color: @font-color2;
		text-transform: uppercase;
	}
}
.button-wrapper{
	white-space: nowrap;
}
.left{
	text-align: left;
}
.center{
	text-align: center;
}
.right{
	text-align: right;
}